# Скомпилированные Python файлы
*.pyc

# Папка с кэшем Python
__pycache__/

# Файлы с переменными окружения (могут содержать секреты)
.env

# Виртуальное окружение Python
venv/

# Файлы логов
*.log

# Папка с собранными пакетами
dist/

# Папка со сборкой проекта
build/